.container {
  & > a {
    display: block;
    margin-bottom: 1.5rem;
  }

  .techBox {
    display: flex;
    border: 1px solid #ccc;
    padding: 0.7rem;
    border-radius: 0.5rem;
    align-items: center;

    &.nodejs {
      border: 1px solid #71be4f;
    }

    &.javascript {
      border: 1px solid #f7e017;
    }

    img {
      height: 50px;
      width: auto;
      margin-right: 0.7rem;
      border-radius: 0.2rem;
    }

    .techDetails {
      line-height: 1.4;

      .title {
        font-size: 1.2rem;
        font-weight: 500;
      }

      .count {
        color: #666;
        font-size: 0.9rem;
      }
    }
  }
}
