.item {
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;

  .linkContainer {
    flex: 1 1 auto;
    a {
      font-size: 1.8rem;
      font-weight: 700;
      color: rgba(0, 0, 0, .8);
      line-height: 2.2rem;
    }
  }

  .tagContainer {
    font-style: normal;
  }
}

.date {
  color: #666;
  font-size: 14px;
  white-space: nowrap;
}
