.tocContainer {
  margin-bottom: 2rem;
  font-size: 0.8rem;

  .tocHeader {
    margin: 0;
    font-size: 1rem;
  }

  .tab3 {
    margin-left: 1rem;
  }
  .tab4 {
    margin-left: 2rem;
  }
  .tab5 {
    margin-left: 3rem;
  }
  .tab6 {
    margin-left: 4rem;
  }
}
