.mainHeader {
  margin-bottom: 20px;
  margin-top: 60px;

  &:first-child {
    margin-top: 0;
  }
}

.item {
  margin-bottom: 20px;
  display: flex;

  .slno {
    flex: 0 0 30px;
  }
}

.date {
  display: block;
  color: #999;
  font-size: 12px;
}
