.homeTitle {
  font-size: 1.6rem;
  font-weight: 600;
}
.mainHeader {
  margin-bottom: 20px;
  margin-top: 60px;

  &:first-child {
    margin-top: 0;
  }
}

.item {
  margin-top: 1.5rem;
  line-height: 1.5;

  a {
    font-weight: 700;
    font-size: 1.2;
  }
}

.date {
  display: block;
  color: #999;
  font-size: 12px;
}
