.button {
    padding: 10px 20px;
    box-shadow: 0 2px 2px #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.link {
    display: inline;
}

.pink {
    background-color: #BA369A;
    color: #fff;
}

.buymeacoffee {
    box-shadow: none;
    background: #FEDD03;
    color: #000;
    border: 1px solid #d3bb1d;
    font-size: 16px;
    font-weight: bold;
}