.questionContainer{
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #eee;
  position: relative;
  margin-bottom: 40px;
}

.answerLink{
  margin-top: 10px;
  color: #1e88e5;
  display: block;
  text-align: left;
}

.slno {
  position: absolute;
  right: 5px;
  top: -15px;
  font-weight: bold;
  font-size: 42px;
  color: #ccc;
}